{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["standard", "standard-react"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "implicit-arrow-linebreak": 0,
    "import/prefer-default-export": 0,
    "no-nested-ternary": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-fragments": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-props-no-spreading": 0
  }
}
